<template>
  <div id="app">
    <b-navbar toggleable="md" type="dark" variant="secondary">
      <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
      <b-navbar-brand href="#">CARE4VALUE</b-navbar-brand>
      <b-collapse is-nav id="nav_collapse">
        <!-- Left aligned nav items -->
        <b-navbar-nav>
          <router-link to="/dashboard" id="linkDashboard"
                       v-if="isLoggedIn" class="nav-link">{{translate('linkDashboard')}}
          </router-link>
          <router-link to="/upload" id="linkUpload"
                       v-if="isLoggedIn"
                       class="nav-link">
            {{translate('linkUpload')}}
          </router-link>
          <router-link to="/patient-management" id="linkPatientManagement"
                       v-if="isLoggedIn" class="nav-link">
            {{translate('linkPatientManagement')}}
          </router-link>
          <router-link to="/user-management" id="linkUserManagement"
                       v-if="isLoggedInAndAdmin()" class="nav-link">
            {{translate('linkUserManagement')}}
          </router-link>
        </b-navbar-nav>
        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <router-link to="/profile" id="linkProfile"
                       v-if="isLoggedIn" class="nav-link">{{translate('linkProfile')}}
          </router-link>
          <b-nav-item id="linkLogin"
                      v-if="!isLoggedIn" v-on:click.prevent="clickedRoute('login')">Login
          </b-nav-item>
          <b-nav-item id="liLogout"
                      v-if="isLoggedIn" v-on:click.prevent="doLogout()">Logout
          </b-nav-item>


          <b-nav-item-dropdown
              id="liLanguageDropDown"
              :text="translate('liLanguage', {language: this.language.toUpperCase() })"
              right>
            <b-dropdown-item id="linkLanguageEnglish" v-on:click="changeLanguage('en')">
              {{translate('linkLanguageEnglish')}}
            </b-dropdown-item>
            <b-dropdown-item id="linkLanguagePortuguese" v-on:click="changeLanguage('pt')">
              {{translate('linkLanguagePortuguese')}}
            </b-dropdown-item>
          </b-nav-item-dropdown>

        </b-navbar-nav>
      </b-collapse>
    </b-navbar>


    <router-view
        @set-logged-in="setLoggedIn"
        @save-user="saveUser"
        @handle-alert="handleAlert"
        :user=user :serverUrl=serverUrl></router-view>

    <b-alert id="alert"
             class="fixed-top"
             :show="countDown" dismissible :variant="alertVariant"
             @dismissed="countDown=0"
             @dismiss-count-down="countDownChanged">
      {{ message }}
      <b-progress :variant="alertVariant"
                  :max="dismissSecs"
                  :value="countDown"
                  height="4px">
      </b-progress>
    </b-alert>


    <b-modal ref="errorModalRef" id="errorModal" title="Error" hide-footer>
      <p id="pErrorModal">{{errorModalComputedMessage}}</p>
      <b-btn class="mt-3" variant="outline-danger" block @click="hideErrorModal">Close</b-btn>

    </b-modal>

  </div>
</template>

<script>

  import {eventBus} from './event-bus';
  //import VueScrollTo from 'vue-scrollto';

  export default {
    name: 'app',
    data() {
      return {
        user: this.$root.user,
        serverUrl: this.$root.serverUrl,
        isLoggedIn: false,
        dismissSecs: 5,
        countDown: 0,
        messageOriginal: '',
        message: '',
        alertVariant: '',
        errorModalComputedMessage: ''
      }
    },
    methods: {
      countDownChanged(countDown) {
        this.countDown = countDown;
      },
      setLoggedIn(flag) {
        this.isLoggedIn = flag;
      },
      isLoggedInAndAdmin() {
        return this.isLoggedIn && this.user.role === 'Administrator';
      },
      doLogout() {
        this.axios.post(this.serverUrl + '/logout',
          {token: this.user.token})
          .then(response => {
            console.log(response);
          }).catch(error => {
          this.handleAlert(error);
        }).finally(() => {
          this.saveUser({
            id: 0,
            name: '',
            nickname: '',
            email: '',
            admin: 0,
            token: null
          });
          this.setLoggedIn(false);
          this.$router.push('/login');
        });
      },
      handleAlert(content, isSuccess) {

        this.countDown = this.dismissSecs;
        if (isSuccess) {
          this.alertVariant = 'success';

          this.messageOriginal = content;
          console.log(content);
          this.message = this.translate(content);
          console.log(this.message)

        } else {
          this.alertVariant = 'danger';
          if (content.response === undefined && content.message === undefined &&
            !(typeof content === 'string' || content instanceof String)) {
            this.messageOriginal = '';
            this.message = 'Something went wrong!';
            throw content;
          }

          //if there is error message
          if (content.response && content.response.data && content.response.data.message) {
            this.messageOriginal = content.response.data.message;
            console.error(this.messageOriginal);
            this.message = this.translate(this.messageOriginal);
          } else if (Array.isArray(content.response && content.response.data)) {
            this.messageOriginal = [];
            this.message = '';
            for (let i = 0; i < content.response.data.length; i++) {
              this.messageOriginal.push(content.response.data[i]);
              let translation = this.translate(content.response.data[i]);
              if (translation){
                this.message += translation + '\n';
              }
              }
          } else if (content.message) {
            this.messageOriginal = content.message;
            this.message = this.translate(this.messageOriginal);
          } else if (typeof content === 'string' || content instanceof String) {
            this.messageOriginal = content;
            this.message = this.translate(this.messageOriginal);
          } else {this.messageOriginal = '';
            this.message = "Code: " + content.response.status
              + ", Message: " + content.response.statusText;
          }
          if(!this.message){
            console.error(content);
            this.messageOriginal = 'Generic Error';
            this.message = this.translate(this.messageOriginal);
          }
        }
        /*
        //Scroll down to Alert.

        this.$nextTick(() => {
            VueScrollTo.scrollTo('#alert')
        });
        */
      },
      changeLanguage(language) {
        this.$validator.localize(language);
        this.language = language;
        eventBus.$emit('update-multilanguage', language);
        if (this.messageOriginal) {
          if (Array.isArray(this.messageOriginal)) {
            this.message = '';
            for (var i = 0; i < this.messageOriginal.length; i++) {
              this.message += this.translate(this.messageOriginal[i]) + '\n';
            }
          } else {
            this.message = this.translate(this.messageOriginal);
          }
        }
      },
      hideErrorModal() {
        this.$refs.errorModalRef.hide();
      },
      saveUser(newUser) {
        Object.assign(this.user, newUser);
        this.$store.commit('saveUser', newUser);
        console.log(this.user);
        this.setLoggedIn(!!newUser.token);
      },
      clickedRoute(route) {
        eventBus.$emit('clicked-route-' + route);
        this.$router.push(route);
      }
    },
    created() {
      eventBus.$on('show-error-modal', errorMessage => {
        console.log('Error Modal! : ' + errorMessage);
        this.errorModalComputedMessage = errorMessage;
        this.$refs.errorModalRef.show();
      });
    },
    mounted() {
      this.setLoggedIn(!!this.user.token);

      eventBus.$on('update-multilanguage', (language) => {
        this.$moment.locale(language);
      });
    }
  }
</script>
