<template>
  <div class="jumbotron">

    <b-row>
      <b-col md="6" class="my-1">
        <b-form-group horizontal label="Filter" class="mb-0">
          <b-input-group>
            <b-form-input v-model="filter" placeholder="Type to Search"></b-form-input>
            <b-input-group-append>
              <b-btn :disabled="!filter" @click="filter = ''">Clear</b-btn>
            </b-input-group-append>
          </b-input-group>
        </b-form-group>
      </b-col>
      <b-col md="6" class="my-1">
        <b-form-group horizontal label="Sort" class="mb-0">
          <b-input-group>
            <b-form-select v-model="sortBy" :options="sortOptions">
              <option slot="first" :value="null">-- none --</option>
            </b-form-select>
            <b-form-select :disabled="!sortBy" v-model="sortDesc" slot="append">
              <option :value="false">Asc</option>
              <option :value="true">Desc</option>
            </b-form-select>
          </b-input-group>
        </b-form-group>
      </b-col>
      <b-col md="6" class="my-1">
        <b-form-group horizontal label="Per page" class="mb-0">
          <b-form-select :options="pageOptions" v-model="perPage"></b-form-select>
        </b-form-group>
      </b-col>
    </b-row>


    <b-table id="tableAnswers" striped hover :items="answers" :fields="fieldsForAnswers"
             :current-page="currentPage"
             :per-page="perPage"
             :filter="filter"
             :sort-by.sync="sortBy"
             :sort-desc.sync="sortDesc"
             :sort-direction="sortDirection"
             @filtered="onFiltered">
      <template slot="groupTotal" slot-scope="row">
        {{row.item.groupTotal? row.item.groupTotal: '-'}}
      </template>
      <template slot="patient" slot-scope="row">
        {{row.item.patient.code}}
      </template>
    </b-table>
    <b-row>
      <b-col md="6" class="my-1">
        <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0"/>
      </b-col>
    </b-row>

    <b-button id="downloadButton" v-on:click="downloadAnswers()"> Download</b-button>
  </div>
</template>

<script type="text/javascript">

  import {eventBus} from '../event-bus';
  import createXlsx from '../support/file-parser/create-xlsx'

  const items = [];
  export default {
    name: 'Answers',
    props: {
      user: Object,
      serverUrl: String,
      parentAnswers: Array,
    },
    data() {
      return {
        answers: items,
        fieldsForAnswers: [],
        firstAnswers: [],
        currentPage: 1,
        perPage: 5,
        totalRows: items.length,
        pageOptions: [5, 10, 15, 25, 50],
        sortBy: null,
        sortDesc: false,
        sortDirection: 'asc',
        filter: null,
        modalInfo: {title: '', content: ''}
      }
    },
    computed: {
      sortOptions() {
        // Create an options list from fields
        return this.fieldsForAnswers
          .filter(f => f.sortable)
          .map(f => {
            return {text: f.label, value: f.key}
          })
      }
    },
    methods: {
      getAnswers() {
        this.axios.get(
          this.serverUrl + '/answers',
          {headers: {Authorization: "Bearer " + this.user.token}})
          .then(response => {
            console.log('Answers received from API:');
            console.log(response.data);
            this.answers = response.data;
          });
      },
      downloadAnswers() {
        createXlsx.createSummarizedXlsx(this.firstAnswers, this.answers);
      },
      getFirstAnswers() {
        this.axios.get(
          this.serverUrl + '/answers/first',
          {headers: {Authorization: "Bearer " + this.user.token}})
          .then(response => {
            this.firstAnswers = response.data;
          });
      },
      updateTableAnswersHeaders() {
        this.fieldsForAnswers = [
          {
            label: 'Id',
            key: 'id',
            sortable: true
          },
          {
            label: this.translate('tableAnswersPatient'),
            key: 'patient',
            sortable: true
          },
          {
            label: this.translate('tableAnswersQuestion'),
            key: 'question',
            sortable: true
          },
          {
            label: this.translate('tableAnswersAnswer'),
            key: 'answer'
          },
          {
            label: this.translate('tableAnswersAuthor'),
            key: 'author',
            sortable: true
          },
          {
            label: this.translate('tableAnswersDate'),
            key: 'date',
            sortable: true
          },
          {
            label: this.translate('tableAnswersGroupTotal'),
            key: 'groupTotal',
            sortable: true
          }];
      },
      onFiltered(filteredItems) {
        // Trigger pagination to update the number of buttons/pages due to filtering
        this.totalRows = filteredItems.length;
        this.currentPage = 1;
      }
    },
    mounted() {
      if (this.parentAnswers) {
        this.answers = this.parentAnswers;
      } else {
        this.getAnswers();
      }

      this.updateTableAnswersHeaders();
      this.getFirstAnswers();


      eventBus.$on('update-multilanguage', (language) => {
        this.language = language;
        this.updateTableAnswersHeaders();
      });

    }

  }
</script>
