<template>
    <div>
        <h1 id="headerDashBoard">Dashboard</h1>


        <answers :user=user :serverUrl=serverUrl @handle-alert="handleAlert"></answers>

    </div>
</template>
<script>

    import Answers from './Answers'

    export default {
        name: 'Dashboard',
        props: {
            user: Object,
            serverUrl: String
        },
        data() {
            return {}
        },
        methods: {
            handleAlert(content, isSuccess) {
                this.$emit('handle-alert', content, isSuccess);
            }
        },
        components: {
            'answers': Answers,
        },

    }
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    h3 {
        margin: 40px 0 0;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

    a {
        color: #42b983;
    }
</style>