<template>
    <div class="jumbotron">
        <form class="jumbotron">
            <div v-if="!isForgotPasswordPressed">
                <h2 id="headerLogin">{{translate('loginArea')}}</h2>

                <div class="form-group">
                    <label for="inputLogin">{{translate('inputLoginLabel')}}</label>
                    <input id="inputLogin" v-validate="'required'"
                           type="text" class="form-control" v-model="login"
                           name="login"
                           v-if="!isForgotPasswordPressed"
                           v-on:keyup.enter="doLogin()"
                    :placeholder="translate('inputLoginPlaceholder')"/>
                    <span id="spanLoginErrors"
                          v-show="errors.has('login')" class="text-danger">{{ errors.first('login') }}</span>
                </div>

                <div class="form-group">
                    <label for="inputPassword">{{translate('inputPasswordLabel')}}</label>
                    <input id="inputPassword" v-validate="'required'"
                           type="password" class="form-control" v-model="password"
                           name="password"
                           v-if="!isForgotPasswordPressed"
                           autocomplete="section-blue current-password"
                           v-on:keyup.enter="doLogin()"
                           :placeholder="translate('inputPasswordPlaceholder')"/>
                    <span id="spanPasswordErrors"
                          v-show="errors.has('password')" class="text-danger">{{ errors.first('password') }}</span>
                </div>

                <div class="form-group">
                    <b-button id="buttonIForgotPassword"
                              variant="warning" v-on:click="forgotPassword()">{{translate('buttonIForgot')}}
                    </b-button>
                </div>

                <div class="form-group">
                    <b-button id="buttonLogin" variant="primary"
                              v-on:click="doLogin()">{{translate('buttonLogin')}}
                    </b-button>
                </div>

            </div>
            <div v-else>
                <h2 id="h2PasswordResetArea">{{translate('passwordResetArea')}}</h2>
                <div class="form-group">
                    <label for="inputRecuperationEmail">Email</label>
                    <input id="inputRecuperationEmail" v-validate="'required|email'"
                           type="email" class="form-control"
                           v-model="recuperationEmail"
                           v-if="isForgotPasswordPressed"
                           data-vv-name="inputRecuperationEmail"
                           placeholder="Insert your email address"/>
                    <span id="spanResetEmailPassword" v-show="errors.has('inputRecuperationEmail')" class="text-danger">{{  errors.first('inputRecuperationEmail') }}</span>
                    <div>
                        <b-button id="buttonResetPassword" variant="warning"
                                  v-on:click="resetPassword(recuperationEmail)"
                                  :disabled="isPasswordResetButtonPressed">{{translate('buttonResetPassword')}}
                        </b-button>
                    </div>
                </div>
            </div>


        </form>
    </div>
</template>

<script type="text/javascript">

    import {eventBus} from '../event-bus';


    export default {
        name: 'Login',
        props: {
            user: Object,
            serverUrl: String
        },
        data() {
            return {
                login: '',
                password: '',
                isForgotPasswordPressed: false,
                isPasswordResetButtonPressed: false,
                recuperationEmail: '',
            }
        },
        methods: {
            doLogin() {
                this.$validator.validateAll().then((result) => {
                    if (!result) {
                        console.log(this.errors);
                        return;
                    }
                    this.axios.post(this.serverUrl + '/login',
                        {email: this.login, password: this.password})
                        .then(response => {
                            console.log(response);
                            this.$emit('save-user', response.data);
                            //this.$emit('set-logged-in', true);
                            this.$router.push('/');

                        }).catch(error => {
                        console.log(error);

                        this.$emit('handle-alert', error, false);
                    });
                });
            },
            resetPassword: function (recuperationEmail) {
                this.$validator.validate('inputRecuperationEmail', this.recuperationEmail).then((result) => {
                    console.log(this.errors);
                    if (!result) {
                        return;
                    }

                    //Disables Reset Password button after pressed one time
                    this.isPasswordResetButtonPressed = true;

                    this.axios.post(this.serverUrl + '/password/reset',
                        {email: recuperationEmail}).then((response) => {

                        console.log('Password RESET RECEIVED FIELDS');
                        console.log(response.data);
                        this.isPasswordResetButtonPressed = false;

                        this.$emit('handle-alert', 'Email sent', true);

                    }).catch(error => {
                        console.log('Error response from server: ');
                        console.log(error.response.data.message);
                        this.isPasswordResetButtonPressed = false;
                        this.$emit('handle-alert', error, false);

                    });
                });
            },
            forgotPassword: function () {
                this.$validator.attach({name: 'inputRecuperationEmail', rules: 'required|email'});
                this.isForgotPasswordPressed = !this.isForgotPasswordPressed;
            },
        },
        mounted() {
            eventBus.$on('clicked-route-login', () => {
                console.log('clicked-route-login');
                this.isForgotPasswordPressed = false;
                this.isPasswordResetButtonPressed = false;
                console.log('this.isPasswordResetButtonPressed');
                console.log(this.isPasswordResetButtonPressed);
            });
        }
    }
</script>