<template>
    <div class="jumbotron">
        <h2>{{translate('passwordResetComponent')}}</h2>

        <div class="form-group">
            <label for="password">{{translate('passwordResetNewPassword')}}</label>
            <input v-validate="'required'" 
                type="password" class="form-control" v-model="password"
                name="password" id="password" 
                :placeholder="translate('inputPasswordResetComponent')"/>
            <span v-show="errors.has('password')" class="text-danger">{{ errors.first('password') }}</span>
        </div>

        <div class="form-group">
            <label for="passwordConfirmation">{{translate('passwordResetPasswordConfirmation')}}</label>
            <input v-validate="'required|confirmed:password'"
                type="password" class="form-control" v-model="passwordConfirmation"
                name="passwordConfirmation" id="passwordConfirmation" 
                :placeholder="translate('inputPasswordResetConfirmationComponent')"/>
            <span v-show="errors.has('passwordConfirmation')" class="text-danger">
            {{ errors.first('passwordConfirmation') }}</span>
        </div>

        <div class="form-group">
            <b-button variant="primary" v-on:click="changePassword()">{{translate('passwordResetChangeButton')}}</b-button>
        </div>

    </div>      
</template>

<script type="text/javascript">
    export default {
        name: 'PasswordReset',
        props: {
        user: Object,
        serverUrl: String
        },
        data: function(){
            return { 
                password: '',
                passwordConfirmation: '',
                resetToken: '',
                showError: false,
                errorMessage: ''
                }
        },
        methods: {
            changePassword(){
                this.$validator.validateAll().then((result) => {
                    if(!result){
                      return;
                    }

                    console.log('Reset token received: ');
                    console.log(this.resetToken);

                    this.axios.put(this.serverUrl + '/recover-password', 
                    {resetToken: this.resetToken, password: this.password})
                        .then(response=>{
                            console.log(response);

                            this.$router.push('/login');

                        }).catch(error => {
                            console.log(error.response);
                            this.$emit('handle-alert', error, false); 
                    });
                });
            }
        },
        created() {
            this.resetToken = this.$route.params.resetToken;
        }
    }
    
</script>