<template>
  <div class="jumbotron">
    <h1 id="headerPatientManagement">{{translate('headerPatientManagement')}}</h1>

    <b-tabs>
      <b-tab :title="translate('tabPatients')" id="tabPatients" active>
        <patients :user=user :serverUrl=serverUrl @handle-alert="handleAlert"></patients>
      </b-tab>
      <b-tab :title="translate('tabPatientAdd')" id="tabPatientAdd">
        <patient-add :user=user :serverUrl=serverUrl @handle-alert="handleAlert"></patient-add>
      </b-tab>
    </b-tabs>

  </div>    
</template>

<script type="text/javascript">

  import Patients from './Patients';
  import PatientAdd from './PatientAdd';

  export default {
    name: 'PatientManagement',
      props: {
        user: Object,
        serverUrl: String
    },
    data(){
      return { 
        }
    },
    methods: {
      handleAlert(content, isSuccess) {
        this.$emit('handle-alert', content, isSuccess);
      }
    },
    components: {
      'patients': Patients,
      'patient-add': PatientAdd
    },
  }
</script>