<template>
  <div class="jumbotron">
    <h2 id="headerUsers">{{translate('headerPatients')}}</h2>

    <b-table id="tablePatients" striped hover :items="patients" :fields="fieldsForPatients">

      <template slot="birthDate" slot-scope="row">
        {{row.item.birthDate | moment("dddd, MMMM Do YYYY")}}
      </template>

      <template slot="show_details" slot-scope="row">
        <b-button :id="'buttonDetails' + row.item.email" variant="info" size="sm" @click.stop="row.toggleDetails"
                  class="mr-2">
          {{ row.detailsShowing ? translate('hideTableUserDetails') : translate('showTableUserDetails')}}
        </b-button>

      </template>
      <template slot="row-details" slot-scope="row">
        <p>Show Something?</p>
      </template>


    </b-table>

  </div>
</template>

<script type="text/javascript">

  import {eventBus} from '../event-bus';

  export default {
    name: 'Patients',
    props: {
      user: Object,
      serverUrl: String
    },
    data() {
      return {
        patients: [],
        fieldsForPatients: [],
        blockPressed: false,
        unblockPressed: false,
        currentUser: null,
      }
    },
    methods: {
      getPatients() {
        this.axios.get(
          this.serverUrl + '/patients',
          {headers: {Authorization: "Bearer " + this.user.token}})
          .then(response => {
            console.log('Patients received from API:');
            console.log(response.data);
            this.patients = response.data.patients;
          });
      },
      updateTablePatientsHeaders() {
        this.fieldsForPatients = [
          {
            label: 'Id',
            key: 'id',
            sortable: true
          },
          {
            label: this.translate('tablePatientsName'),
            key: 'name',
            sortable: true
          },
          {
            label: this.translate('tablePatientsBirthDate'),
            key: 'birthDate',
            sortable: true
          },
          {
            label: this.translate('tablePatientsCode'),
            key: 'code'
          },
          {
            label: this.translate('tablePatientsShowDetails'),
            key: 'show_details'
          }];
      }
    },
    mounted() {

      this.getPatients();
      this.updateTablePatientsHeaders();

      eventBus.$on('update-multilanguage', (language) => {
        this.language = language;
        this.updateTablePatientsHeaders();
      });

    }

  }
</script>
