<template>
  <div class="jumbotron">
    <h2 id="headerAddPatient">{{translate('patientAddArea')}}</h2>


    <b-container fluid>
      <b-row>
        <b-col sm="3">
          <label for="inputName">{{translate('labelPatientName')}}</label>
        </b-col>
        <b-col sm="9">
          <b-form-input id="inputName" name="inputName" type="text" v-model="patientAdd.name"
                        v-validate="'required'" :placeholder="translate('labelPatientName')">
          </b-form-input>
          <span id="spanInputNameErrors" v-show="errors.has('inputName')"
                class="text-danger">{{ errors.first('inputName') }}</span>
        </b-col>
      </b-row>


      <b-row>
        <b-col sm="3">
          <label for="inputBirthDate">{{translate('labelPatientBirthDate')}}</label>
        </b-col>
        <b-col sm="9">
          <b-form-input id="inputBirthDate" name="inputBirthDate" type="date" v-model="patientAdd.birthDate"
                        v-validate="'required'">
          </b-form-input>
          <span id="spanInputBirthDateErrors" v-show="errors.has('inputBirthDate')"
                class="text-danger">{{ errors.first('inputBirthDate') }}</span>
        </b-col>
      </b-row>


      <b-row>
        <b-col sm="3">
          <label for="inputCode">{{translate('labelPatientCode')}}</label>
        </b-col>
        <b-col sm="6">
          <b-form-input id="inputCode" name="inputCode" type="text" v-model="patientAdd.code"
                        :formatter="(value) => value.toUpperCase()"
                        v-validate="'required'" :placeholder="translate('labelPatientCode')">
          </b-form-input>
          <span id="spanInputCodeErrors" v-show="errors.has('inputCode')"
                class="text-danger">{{ errors.first('inputCode') }}</span>
        </b-col>
        <b-col sm="3">
          <b-button id="buttonPatientGenerateCode"
                    variant="warning" v-on:click="generateCode()">{{translate('buttonPatientGenerateCode')}}
          </b-button>
        </b-col>
      </b-row>
    </b-container>

    <div class="form-group">
      <a id="aButtonSavePatient" class="btn btn-primary" v-on:click.prevent="savePatient()">{{translate('linkSavePatient')}}</a>

    </div>
  </div>
</template>

<script type="text/javascript">
  export default {
    name: 'AddUser',
    props: {
      user: Object,
      serverUrl: String
    },
    data: function () {
      return {
        patientAdd: {
          name: '',
          birthDate: '1970-01-01',
          code: ''
        }
      }
    },
    methods: {
      savePatient() {
        this.$validator.validateAll().then((result) => {
          console.log(this.errors);
          if (!result) {
            return;
          }
          this.axios.post(this.serverUrl + '/patients',
            {patient: this.patientAdd},
            {headers: {Authorization: "Bearer " + this.user.token}})
            .then(response => {
              console.log(response);
              this.$emit('handle-alert', 'Patient Created', true);

            }).catch(error => {
            this.$emit('handle-alert', error, false);
          });
        });
      },
      generateCode() {
        this.axios.post(this.serverUrl + '/patients/code',
          {patient: this.patientAdd},
          {headers: {Authorization: "Bearer " + this.user.token}})
          .then(response => {
            console.log(response);
            this.patientAdd.code = response.data.code;
          }).catch(error => {
          this.$emit('handle-alert', error, false);
        });
      }
    }
  }

</script>