<template>
  <div>
    <div class="jumbotron">

      <h2 id="headerProfile">{{translate('profileArea')}}</h2>

    
      <b-col sm="3"><label for="inputProfileName">{{translate('inputProfileName')}}</label></b-col>
      <b-col sm="6"><b-form-input v-model="user.name" id="inputProfileName" 
                      type="text" disabled size="lg"></b-form-input></b-col>
    

      <b-col sm="3"><label for="inputProfileEmail">{{translate('inputProfileEmail')}}</label></b-col>
      <b-col sm="6"><b-form-input v-model="user.email" id="inputProfileEmail" 
                      type="text" disabled size="lg"></b-form-input></b-col>
    

      <b-col sm="3"><label for="inputProfileRole">{{translate('inputProfileRole')}}</label></b-col>
      <b-col sm="6"><b-form-input v-model="user.role" id="inputProfileRole" 
                      type="text" disabled size="lg"></b-form-input></b-col>

    </div>    


    <!--Change Password Section-->
    <div role="tablist">
      <b-card no-body class="mb-1">
        <!--Section Title-->
        <b-card-header header-tag="header" class="p-1" role="tab">
          <b-btn block href="#" v-b-toggle.accordion variant="info" id="buttonTogglePassword">
            {{translate('buttonTogglePassword')}}
          </b-btn>
        </b-card-header>
        <b-collapse id="accordion" accordion="my-accordion" role="tabpanel">
          <b-card-body>
            <b-container fluid>
              <!--New Password Input-->
              <b-row class="my-1">
                <b-col sm="3"><label for="inputNewPassword" id="labelInputNewPassword">
                  {{translate('labelInputNewPassword')}}
                </label></b-col>
                <b-col sm="9"><b-form-input id="inputNewPassword" name="inputNewPassword" 
                  v-validate="'required'" type="password"
                  v-model="newPassword"></b-form-input></b-col>
              </b-row>
              <!--New Password Validation-->
              <b-row class="my-1">
                <b-col offset-sm="3">
                  <span id="spanPasswordErrors" v-show="errors.has('inputNewPassword')" 
                  class="text-danger">{{ errors.first('inputNewPassword') }}</span>
                </b-col>
              </b-row>
              <!--New Password Confirmation Input-->
              <b-row class="my-1">
                <b-col sm="3"><label for="inputNewPasswordConfirmation" id="labelInputNewPasswordConfirmation">
                  {{translate('labelInputNewPasswordConfirmation')}}
                </label></b-col>
                <b-col sm="9"><b-form-input id="inputNewPasswordConfirmation" name="inputNewPasswordConfirmation"
                v-validate="'required|confirmed:inputNewPassword'" type="password"
                v-model="newPasswordConfirmation"></b-form-input></b-col>
              </b-row>
              <!--New Password Confirmation Validation-->
              <b-row class="my-1">
                <b-col offset-sm="3">
                  <span id="spanPasswordConfirmationErrors" v-show="errors.has('inputNewPasswordConfirmation')" 
                  class="text-danger" offset-sm="3">{{ errors.first('inputNewPasswordConfirmation') }}</span>
                </b-col>
              </b-row>
              <!--Save Password-->
              <b-row class="my-1">
                <b-btn variant="info" id="buttonSaveNewPassword" v-on:click="doChangePassword">
                 {{translate('buttonSaveNewPassword')}}
               </b-btn>
              </b-row>
            </b-container>
          </b-card-body>
        </b-collapse>
      </b-card>
    </div>

  </div>

</template>

<script type="text/javascript">
  export default {
    name: 'Profile',
      props: {
        user: Object,
        serverUrl: String
    },
    data(){
      return {
        newPassword: '',
        newPasswordConfirmation: ''
      }
    },
    methods: {
      doChangePassword() {
        this.$validator.validateAll().then((result) => {
          console.log(this.errors);
          if (!result) {
            return;
          }
          this.axios.put(this.serverUrl +'/users/self/change-password', 
            { newPassword: this.newPassword },
            { headers: { Authorization: "Bearer " + this.user.token } }) 
            .then(response=>{
              console.log(response);
              this.$emit('save-user', response.data);
              this.$emit('handle-alert', 'Password Changed', true);     
            }).catch(error => {
              this.$emit('handle-alert', error, false);                  
            });


        });
      }
    }
  }
</script>