<template>
  <div>
    <h1 id="headerUpload">{{translate('headerUpload')}}</h1>

    <b-container class="jumbotron">

      <!-- Choose File Type -->
      <b-row>
        <b-col sm="6">
          <b-form-group :label="translate('btnRadiosFileType')">
            <b-form-radio-group id="btnRadiosFileType"
                                buttons
                                button-variant="outline-primary"
                                v-on:input="clearFile(true)"
                                size="lg"
                                v-model="selectedFileType"
                                :options="fileOptions"
                                name="radioBtnOutline"/>
          </b-form-group>
        </b-col>
      </b-row>
      <!-- Choose File Content Type -->
      <b-row>
        <b-col sm="6">
          <b-form-group :label="translate('btnRadiosFileContentType')">
            <b-form-radio-group id="btnRadiosFileContentType"
                                buttons
                                button-variant="outline-primary"
                                v-on:input="clearFile(true)"
                                size="lg"
                                v-model="selectedFileContentType"
                                :options="fileContentOptions"
                                name="radioBtnOutline"/>
          </b-form-group>
        </b-col>
      </b-row>
      <!-- Choose Patient -->

      <b-row>
        <b-col sm="6">
          <b-form-group>
            <b-dropdown id="dropdownPatients" split variant="info" size="lg" ref="dropdownPatients">
              <template slot="button-content">
                <b-form-input id="inputPatient" name="inputPatient" type="text"
                              v-model="chosenPatientCode" ref="inputPatient"
                              v-validate="'required|patientExists:' + patientExists(chosenPatientCode)"
                              :placeholder="translate('labelPatient')"
                              v-on:input.self="filterPatients(chosenPatientCode)">
                </b-form-input>
              </template>
              <template v-if="!filteredPatients || filteredPatients.length===0">
                <b-dropdown-item disabled>
                  {{translate('noPatients')}}
                </b-dropdown-item>
              </template>
              <template v-else v-for="patient in filteredPatients">
                <b-dropdown-item v-bind:key="patient.id" v-on:click="choosePatient(patient.code)">
                  {{translate('labelPatientCode')}}: {{patient.code}}, {{translate('labelPatientName')}}:
                  {{patient.name}}
                </b-dropdown-item>
              </template>
            </b-dropdown>
          </b-form-group>
        </b-col>
        <b-col sm="6">
                <span id="spanInputPatientErrors" v-show="errors.has('inputPatient')"
                      class="text-danger">{{ errors.first('inputPatient') }}</span>
        </b-col>
      </b-row>


      <b-row>
        <b-col sm="6">
          <b-form-file id="inputFile" v-model="file" :state="Boolean(file)"
                       :placeholder="translate('chooseFile')"
                       v-if="uploadReady"
                       v-on:input="parseFile()">
          </b-form-file>
        </b-col>
        <b-col sm="3">
          <label for="inputFile">{{translate('chosenFile')}} {{file && file.name}}</label>
        </b-col>
      </b-row>

      <b-row>
        <b-col sm="6">
          <b-button id="buttonUpload" variant="primary"
                    v-on:click="upload()">Upload
          </b-button>
        </b-col>
      </b-row>
    </b-container>

    <div>
      <div role="tablist" v-if="parsedFile.author">
        <b-card no-body class="mb-1">
          <b-card-header header-tag="header" class="p-1" role="tab">
            <b-btn block id="buttonShowDetails" v-b-toggle.collapseBarthel variant="info">
              {{translate('showFileDetails')}}
            </b-btn>
          </b-card-header>
          <b-collapse id="collapseBarthel" class="mt-2">
            <div>
              <h4>{{selectedFileContentType}}:</h4>
              <p id="pAuthor">{{translate('author')}}: {{parsedFile.author}}</p>
              <p>{{translate('date')}}: {{parsedFile.date}}</p>

              <b-card-group columns
                            class="mb-3">

                <template v-for="question in parsedFile.questions">
                  <b-card border-variant="dark"
                          :header="question.question"
                          footer-tag="footer"
                          align="center"
                          v-bind:key="question.question">
                    <p class="card-text">{{question.answer}} </p>
                    <em slot="footer">{{question.groupTotal !== undefined ? translate('groupTotal')
                      +
                      question.groupTotal :
                      translate('noGroupTotal')}}</em>
                  </b-card>

                </template>

              </b-card-group>

            </div>


          </b-collapse>

        </b-card>
      </div>

    </div>

    <div v-if="showServerAnswers">
      <b-row>
        <b-col md="9" class="my-1">
          <h3 id="h3DupAnswers">{{translate('answersInServer')}}</h3>
        </b-col>
        <b-col md="3" class="my-1">
          <b-button variant="danger"
                    v-on:click="showServerAnswers=false">
            X
          </b-button>
        </b-col>
      </b-row>


      <answers :user=user :serverUrl=serverUrl :parentAnswers="serverAnswers" @handle-alert="handleAlert"></answers>
    </div>

  </div>
</template>
<script>

  import FileParser from '../support/file-parser/parser';
  import XlsParser from '../support/file-parser/xls';
  import Answers from './Answers';

  export default {
    name: 'Upload',
    props: {
      user: Object,
      serverUrl: String
    },
    data() {
      return {
        file: null,
        patientName: null,
        parsedFile: {
          author: null,
          date: null,
          questions: []
        },
        uploadReady: true,
        selectedFileType: 'xlsx',
        selectedFileContentType: 'Barthel',
        fileOptions: [
          {text: 'PDF', value: 'pdf'},
          {text: 'XLSX', value: 'xlsx'}
        ],
        fileContentOptions: [
          {text: 'Barthel', value: 'Barthel'},
          {text: 'Braden', value: 'Braden'},
          {text: 'Gijon', value: 'Gijon'},
          {text: 'MNA', value: 'MNA'},
          {text: 'MNS', value: 'MNS'}
        ],
        serverAnswers: [],
        showServerAnswers: false,
        patients: [],
        filteredPatients: [],
        chosenPatientCode: '',
        chosenPatient: {
          id: '',
          code: '',
          name: '',
          birthDate: ''
        },
        clicked: false
      }
    },
    methods: {

      parseFile() {

        if (this.selectedFileType === 'pdf') {
          return;
        }


        let parsedObject;
        FileParser.fileToJson(this.file).then((results) => {
          switch (this.selectedFileContentType) {
            case 'Barthel':
            case 'Braden':
            case 'MNA':
            case 'MNS':
            case 'Gijon': {
              parsedObject = XlsParser.jsonToContent(results, this.selectedFileContentType);
              console.log(this.selectedFileContentType, JSON.parse(JSON.stringify(parsedObject)));
              if (parsedObject === false) {
                this.$emit('handle-alert', 'Error Parsing File', false);
                this.clearFile();
                return;
              }
              this.parsedFile = parsedObject;
              break;
            }
            default: {
              console.error(this.selectedFileContentType + ' Not Implemented Yet!');
              return;
            }
          }
        });
      },
      upload() {
        if (!this.file) {
          this.handleAlert('Choose a File', false);
          this.clearFile();
          return;
        }
        this.$validator.validateAll().then((result) => {
          if (!result) {
            return;
          }
          if (this.selectedFileType === 'pdf') {
            const formData = new FormData();
            formData.append("file", this.file);
            formData.append("patientId", this.chosenPatient.id);
            formData.append("contentType", this.selectedFileContentType);

            this.axios.post(this.serverUrl + '/store-content/pdf', formData, {
              headers: {
                'Content-Type': 'multipart/form-data',
                Authorization: "Bearer " + this.user.token
              }
            }).then(response => {
              console.log(response);
              this.clearFile();
              this.$emit('handle-alert', 'File Uploaded Successfully', true);
            }).catch(error => this.handleUploadError(error));
            return;
          }


          this.axios.post(this.serverUrl + '/store-content/json',
            {
              patientId: this.chosenPatient.id,
              contentType: this.selectedFileContentType,
              content: this.parsedFile
            },
            {headers: {Authorization: "Bearer " + this.user.token}})
            .then(response => {
              console.log(response);
              this.clearFile();
              this.$emit('handle-alert', 'File Uploaded Successfully', true);
            }).catch(error => this.handleUploadError(error));
        });
      },
      handleUploadError(error) {
        this.$emit('handle-alert', error, false);
        if (error.response.data.message === 'Patient already has answers for that date!') {
          this.clearFile();

          this.axios.get(
            this.serverUrl + '/answers',
            {
              headers: {
                Authorization: "Bearer " + this.user.token
              },
              params: {
                date: this.parsedFile.date,
                patient: this.patientName,
              },
            })
            .then(response => {
              console.log('Answers received from API:');
              console.log(response.data);
              this.serverAnswers = response.data;
              this.showServerAnswers = true;
            });
        }
      },
      clearFile(includeContent = false) {
        this.file = null;
        this.uploadReady = false;
        this.$nextTick(() => {
          this.uploadReady = true;
        });
        if (includeContent) {
          this.parsedFile = {
            author: null,
            date: null,
            questions: []
          };
        }
      },
      setPatients() {
        this.axios.get(
          this.serverUrl + '/patients',
          {headers: {Authorization: "Bearer " + this.user.token}})
          .then(response => this.filteredPatients = this.patients = (response.data.patients))
          .catch(error => this.$emit('handle-alert', error, false));
      },
      filterPatients(searchString) {
        this.filteredPatients = [];
        for (let i = 0; i < this.patients.length /*&& i < 10*/; i++) {
          let patient = this.patients[i];
          if (patient.code.includes(searchString) || patient.name.includes(searchString)) {
            this.filteredPatients.push(patient);
          }
        }
        this.filteredPatients.sort((a, b) => a.code.localeCompare(b.code));
        if (!this.clicked) {
          this.choosePatient(searchString);
          this.$nextTick(() => {
            this.$refs.dropdownPatients.show();
            setTimeout(() => this.$refs.inputPatient.$el.focus())
          });
        }
      },
      choosePatient(code) {
        this.clicked = true;
        this.chosenPatient = this.patients.filter((o) => o.code === code)[0];
        if (this.chosenPatient && this.chosenPatient.code) {
          this.chosenPatientCode = this.chosenPatient.code;
        } else {
          this.chosenPatientCode = code;
        }
        this.$nextTick(() => {
          this.clicked = false;
        });
      },
      patientExists(code) {
        return this.patients && !!this.patients.filter((o) => o.code === code)[0];
      },
      handleAlert(content, isSuccess) {
        this.$emit('handle-alert', content, isSuccess);
      }
    },
    mounted() {
      this.setPatients();
    },
    components: {
      'answers':
      Answers,
    }

  }
</script>