<template>
  <div class="jumbotron">
      <h2 id="headerUsers">{{translate('headerUsers')}}</h2>

      <b-table id="tableUsers" striped hover :items="users" :fields="fieldsForUsers">
        <template slot="blocked" slot-scope="row">
          {{row.item.blocked ? translate('blockedYes') : translate('blockedNo')}}
        </template>
        <template slot="actions" slot-scope="row">
        <b-button :id="'buttonRevoke'+ row.item.email" v-if='isNotAdminAndNotBlocked(row.item)' v-on:click="blockUser(row.item)" 
          variant="warning">{{translate('buttonRevoke')}}</b-button>
        <b-button :id="'buttonGrant' + row.item.email" v-else-if='isNotAdmin(row.item)' v-on:click="unblockUser(row.item)" 
          variant="success">{{translate('buttonGrant')}}</b-button>
        </template>
        
        <template slot="show_details" slot-scope="row">
          <b-button :id="'buttonDetails' + row.item.email" variant="info" size="sm" @click.stop="row.toggleDetails" class="mr-2">
           {{ row.detailsShowing ? translate('hideTableUserDetails') : translate('showTableUserDetails')}}
          </b-button>

        </template>
        <template slot="row-details" slot-scope="row">
          <b-card>
            <!--Name Input -->
            <b-row class="mb-2">
                <b-col sm="3"><label for="inputTableName" id="labelinputTableName">
                  {{translate('labelinputTableName')}}
                </label></b-col>
                <b-col sm="9"><b-form-input id="inputTableName" name="inputTableName" 
                  v-validate="'required'" type="text" v-model="row.item.name"
                  ></b-form-input></b-col>
            </b-row>
            <!--Name Validations -->
            <b-row class="my-1">
              <b-col offset-sm="3">
                <span id="spanTableNameErrors" v-show="errors.has('inputTableName')" 
                class="text-danger">{{ errors.first('inputTableName') }}</span>
              </b-col>
            </b-row>
            <!--Email Input -->
            <b-row class="mb-2">
                <b-col sm="3"><label for="inputTableEmail" id="labelinputTableEmail">
                  {{translate('labelinputTableEmail')}}
                </label></b-col>
                <b-col sm="9"><b-form-input id="inputTableEmail" name="inputTableEmail" 
                  v-validate="'required|email'" type="text" v-model="row.item.email"
                  ></b-form-input></b-col>
            </b-row>
            <!--Email Validations -->
            <b-row class="my-1">
              <b-col offset-sm="3">
                <span id="spanTableEmailErrors" v-show="errors.has('inputTableEmail')" 
                class="text-danger">{{ errors.first('inputTableEmail') }}</span>
              </b-col>
            </b-row>

            <div>
            <b-dropdown id="role" :text="translate('dropDownRole')" class="m-2">
              <b-dropdown-item-button v-on:click="row.item.role = 'Administrator'">
                {{translate('dropDownButtonAdmin')}}
              </b-dropdown-item-button>
              <b-dropdown-item-button id="buttonResearcher" v-on:click="row.item.role ='Researcher'">
                {{translate('dropDownButtonResearcher')}}
              </b-dropdown-item-button>
              <b-dropdown-item-button v-on:click="row.item.role = 'Health professional'">
                {{translate('dropDownButtonHealthProf')}}
              </b-dropdown-item-button>
            </b-dropdown>
            <span>{{row.item.role}}</span>
          </div>

          <div>
            <b-button :id="'buttonSaveChanges' + row.item.email" v-on:click="saveUser(row.item)" variant="success">{{translate('tableUserSave')}}</b-button>
          </div>
          <br>
          <div>
            <b-button size="sm" @click="row.toggleDetails" variant="info">
              {{translate('hideTableUserDetails')}}
            </b-button>
          </div>


            
          </b-card>
        </template>




      </b-table>

  </div>    
</template>

<script type="text/javascript">

import { eventBus } from '../event-bus';

  export default {
    name: 'Users',
      props: {
        user: Object,
        serverUrl: String
    },
    data() {
      return { 
          users: [],
          fieldsForUsers: [],
          blockPressed: false,
          unblockPressed: false,
          currentUser: null,
        }
    },
      methods: {
          getUsers() {
            this.axios.get(
              this.serverUrl + '/users', 
              { headers: { Authorization: "Bearer " + this.user.token } } )
              .then(response=>{
                console.log('Users received from API:')
                console.log(response.data);
                this.users = response.data;
              });
            },
          saveUser(updatedUser) {
             if(!updatedUser.role){
              return;
            }
            this.$validator.validateAll().then((result) => {
              console.log('DEBUG: required fields not filled!')

              if(!result){
                return;
              }

            this.axios.put(
              this.serverUrl + '/users/update/' + updatedUser.id, 
              {user: updatedUser},
              { headers: { Authorization: "Bearer " + this.user.token } } )
              .then(response=>{
                console.log(response);
                this.$emit('handle-alert', 'User Updated', true);     
              }).catch(error => {
                this.$emit('handle-alert', error, false);                  
              });
              });
            },
            updateTableUsersHeaders() { 
              this.fieldsForUsers = [
                {
                  label: 'Id',
                  key: 'id',
                  sortable: true
                },
                {
                  label: this.translate('tableUsersName'),
                  key: 'name',
                  sortable: true
                },
                {
                  label: 'Email',
                  key: 'email',
                  sortable: true
                },
                {
                  label: this.translate('tableUsersBlocked'),
                  key: 'blocked'
                },
                {
                  label: this.translate('tableUsersActions'),
                  key: 'actions',
                },
                {
                  label: this.translate('tableUsersShowDetails'),
                  key: 'show_details'
                }];
            },
            isNotAdminAndNotBlocked(user) {
              return user.role !== 'Administrator' && !user.blocked;

              
            },
            isNotAdmin(user) {
              return user.role !== 'Administrator';

            },
            blockUser: function(user){
              
              this.axios.put(this.serverUrl + '/users/block',
                            {userId: user.id},
                            { headers: { Authorization: "Bearer " + this.user.token } } )
                  .then(response=>{
                    //this.blockedUser();
                      console.log(response);
                   // this.$emit('refresh-users');
                    this.$emit('handle-alert', 'User blocked', true);
                  }); 
                  this.blockPressed = false;
                  this.currentUser = null;
            },
            unblockUser: function(user){
              this.axios.put(this.serverUrl + '/users/unblock',
                            {userId: user.id},
                            { headers: { Authorization: "Bearer " + this.user.token } })
                  .then(response=>{
                    //this.unblockedUser();
                      console.log(response);
                  //  this.$emit('refresh-users');
                  this.$emit('handle-alert', 'User unblocked', true);
                  }); 
                  this.unblockPressed = false;
                  this.currentUser = false;
            },
            blockedUser: function(){
              //TODO emitir msg
              //this.successMessage = 'User Blocked';
            },
            unblockedUser: function(){
              //TODO emitir msg
              //this.successMessage = 'User Unblocked';
            } /*,

            setBlockPressed(user) {
              row.toggleDetails();
              this.blockPressed = true;
              this.currentUser = user;
            },

            setUnblockPressed: function(user){
              row.toggleDetails();
              this.unblockPressed = true;
              this.currentUser = user;
            }, */
          },
      mounted() {
        
        this.getUsers();
        this.updateTableUsersHeaders();

        eventBus.$on('update-multilanguage', (language) => {
          this.language = language;
          this.updateTableUsersHeaders();
        });

    }

  }
</script>
