<template>
  <div class="jumbotron">
      <h2 id="headerAddUser">{{translate('userAddArea')}}</h2>

      <div class="form-group">
          <label for="inputName">{{translate('labelUserName')}}</label>
          <input
              type="text" class="form-control" v-model="userAdd.name"
              name="name" id="inputName" 
              placeholder="Fullname"/>
      </div>

      <div class="form-group">
          <label for="password">Password</label>
          <input v-validate="'required'" 
              type="password" class="form-control" v-model="userAdd.password"
              name="password" id="password" 
              placeholder="Password"/>
          <span v-show="errors.has('password')" class="text-danger">{{ errors.first('password') }}</span>
      </div>

      <div class="form-group">
          <label for="password_confirmation">{{translate('labelPasswordConfirmation')}}</label>
          <input v-validate="'required|confirmed:password'"
              type="password" class="form-control" v-model="userAdd.password_confirmation"
              name="password_confirmation" id="password_confirmation" 
              placeholder="Password"/>
          <span v-show="errors.has('password_confirmation')" class="text-danger">{{ errors.first('password_confirmation') }}</span>
      </div>

      <div class="form-group">
          <label for="inputEmail">Email</label>
          <input v-validate="'required|email'" :class="{'input': true, 'is-danger': errors.has('email') }"
              type="email" class="form-control" v-model="userAdd.email"
              name="email" id="inputEmail"
              placeholder="Email address"/>
          <span v-show="errors.has('email')" class="text-danger">{{ errors.first('email') }}</span>

      </div>

      <div>
      <b-dropdown id="role" :text="translate('dropDownRole')" class="m-2">
        <b-dropdown-item-button v-on:click="setRole('Administrator')">{{translate('dropDownButtonAdmin')}}</b-dropdown-item-button>
        <b-dropdown-item-button id="buttonResearcher"
        v-on:click="setRole('Researcher')">{{translate('dropDownButtonResearcher')}}</b-dropdown-item-button>
        <b-dropdown-item-button v-on:click="setRole('Health professional')">{{translate('dropDownButtonHealthProf')}}</b-dropdown-item-button>
      </b-dropdown>
      <span :class="userAdd.role ? '' : 'text-danger'">{{userAdd.role ? userAdd.role : 'No role chosen!'}}</span>
    </div>

      <div class="form-group">
          <a id="aButtonSaveUser" class="btn btn-primary" v-on:click.prevent="saveUser()">{{translate('linkSaveUser')}}</a>
         
      </div>
  </div>
</template>

<script type="text/javascript">
  export default {
    name: 'AddUser',
    props: {
        user: Object,
        serverUrl: String
      },
    data: function(){
      return { 
        userAdd: {
          name: '',
          email: '',
          password: '',
          role: ''
        }
      }
    },
      methods: {
          setRole(role){
            this.userAdd.role = role;
            console.log('User role: ');
            console.log(this.userAdd.role);
            },
          saveUser(){

            console.log('User name: ');
            console.log(this.userAdd.name);
            console.log('User email: ');
            console.log(this.userAdd.email);
            console.log('User role: ');
            console.log(this.userAdd.role);

            if(!this.userAdd.role){
              return;
            }
            this.$validator.validateAll().then((result) => {
              console.log(this.errors);
              if(!result){
                return;
              }

            this.axios.post(this.serverUrl +'/users/add',
              {user: this.userAdd},
                  { headers: { Authorization: "Bearer " + this.user.token } })
                    .then(response=>{
                      console.log(response);

                     this.$emit('handle-alert', 'User Created', true);

                    }).catch(error => {
                      this.$emit('handle-alert', error, false);                  
                    });

            });


                 
            }
          }      
    }
  
</script>