<template>
  <div class="jumbotron">
    <h1 id="headerUserManagement">{{translate('headerUserManagement')}}</h1>

    <b-tabs>
      <b-tab :title="translate('tabUsers')" id="tabUsers" active>
        <users :user=user :serverUrl=serverUrl @handle-alert="handleAlert"></users>
      </b-tab>
      <b-tab :title="translate('tabUserAdd')" id="tabUserAdd">
        <user-add :user=user :serverUrl=serverUrl @handle-alert="handleAlert"></user-add>
      </b-tab>
    </b-tabs>

  </div>    
</template>

<script type="text/javascript">

  import Users from './Users';
  import UserAdd from './UserAdd';


  export default {
    name: 'UserManagement',
      props: {
        user: Object,
        serverUrl: String
    },
    data(){
      return { 
        }
    },
    methods: {
      handleAlert(content, isSuccess) {
        this.$emit('handle-alert', content, isSuccess);
      }
    },
    components: {
      'users': Users,
      'user-add': UserAdd
    },
  }
</script>